<!DOCTYPE html>
<html lang="en" data-ng-app="Login">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="styles/style.css">
    <script>
        function login() {


            if (document.getElementById('uname').value.length > 0 && document.getElementById('pwd').value.length > 0) {


                if ((document.getElementById('uname').value == localStorage.getItem("name")) && (document.getElementById('pwd').value == localStorage.getItem("password"))) {


                    window.location.href = 'Home.html';
                }
                else {
                    alert("Invalid Credentials!!");
                }
            }
            else {
                alert('Enter details');
            }
        }
    </script>
</head>
<body>




<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>

<form method="post" action="Login.html">
    <div class="box" ng-controller="LoginController">
        <h1>Login</h1>

        <input type="email" name="email" placeholder="Username/Email"  class="email" id="uname"/>
               <!--ng-model="user.email" />-->

        <input type="password" name="Enter Password" placeholder="Password"  class="email"  id="pwd"/>
               <!--ng-model="user.pwd" />-->

        <a href="#"><div class="btn" onclick="login()">Sign In</div></a>

        <a href="#"><div id="btn2" onclick="window.location.href='Register.html'">Sign Up</div></a>

    </div>

</form>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>




</body>
</html>
