
<ion-view view-title="Enter City" ng-app="starter" ng-controller="getweather">
  <ion-content>
      
      <p>Enter the City to get its information:</p>
    <div class="list list-inset">
      <input type="text" placeholder="City" id="cityname">
        </div>
      
      <button on-touch="onTap()" class="getdirbtn" ng-click="getdata()" style="background:#2ecc71;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #27ae60 1px solid;

    margin-top:20px;
    margin-bottom:20px;
    margin-left:06px;
    font-weight:800;
    font-size:0.8em;">Get Information</button>
      </ion-content>
</ion-view>
 